/**
 * @created by chenlin on 2019-3-14 10:13:34
 * @updated by
 * @description 拼团组件
 */

.blank_template h1 {
    text-align: center;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 148px;
    height: 148px;
    line-height: 148px;
    text-align: center;
}

.avatar {
    width: 148px;
    height: 148px;
    display: block;
}

.el-input.is-disabled .el-input__inner {
    background-color: white;
    /* border-color: #d1dbe5; */
    color: #333;
    cursor: not-allowed;
    border-top: 1px solid #E4E8EB;
    border-bottom: 1px solid #E4E8EB;
    border-left: 1px solid #E4E8EB;
    border-radius: 0;
    height: 36px;
}

body .el-table th.gutter {
    display: table !important;
}

.el-table,
.el-table .el-table__tbody {
    position: relative;
    background-color: #ffffff;
}

.el-table__body,
.el-table__footer,
.el-table__header {
    table-layout: fixed;
    background-color: #eef1f6;
}

.bgWhite {
    background-color: #fff;
}

.el-table--fit td.gutter,
.el-table--fit th.gutter {
    background-color: white;
}