<!--
  @created by luoshun 2019-1-4
  @updated by 
  @description 积分贡献
-->
<div>
  <yu-xform related-table-name="refTable" form-type="search">
    <yu-xform-group :column="2">
      <yu-xform-item placeholder="审批状态" ctype="select" :maxlength="40" name="wfApprSts" data-code="WF_APP_STATUS"></yu-xform-item>
    </yu-xform-group>
  </yu-xform>
  <!-- 工具按钮 -->
  <div class="yu-toolBar">
    <yu-button-group>
      <yu-button icon="plus" @click="addFn">新增</yu-button>
      <yu-button icon="edit" @click="modifyFn">修改</yu-button>
      <yu-button icon="minus" @click="commitFn">提交</yu-button>
    </yu-button-group>
  </div>
  <!-- 查询显示表格 -->
  <yu-xtable ref="refTable" row-number :data-url="dataUrl" selection-type="radio">
    <yu-xtable-column label="积分累积贡献度比例编号" prop="contributionRatioId" width="110" v-if="false"></yu-xtable-column>
    <yu-xtable-column label="积分累积贡献度比例" prop="contributionRatio" width="150">
    </yu-xtable-column>
    <yu-xtable-column label="审批状态" prop="wfApprSts" width="110" data-code="WF_APP_STATUS">
    </yu-xtable-column>
    <yu-xtable-column label="记录状态" prop="status" width="110" data-code="STATUS"></yu-xtable-column>
    <yu-xtable-column label="创建人" prop="createName" width="110">
    </yu-xtable-column>
    <yu-xtable-column label="创建时间" prop="createDate" width="200">
    </yu-xtable-column>
    <yu-xtable-column label="最近维护人" prop="updateName" width="110">
    </yu-xtable-column>
    <yu-xtable-column label="最近维护时间" prop="updateDate">
    </yu-xtable-column>
  </yu-xtable>
  <!-- 按钮响应弹窗 -->
  <yu-xdialog :title="viewTitle" :visible.sync="dialogVisible" width="800px">
    <yu-xform ref="refForm" label-width="120px" v-model="formdata">
      <yu-xform-group>
        <yu-xform-item label="积分累积贡献度比例" label-width="180px" :maxlength="20" ctype="input" name="contributionRatio" rules="required" :colspan="24"></yu-xform-item>
      </yu-xform-group>
      <div class="yu-grpButton">
        <yu-button icon="check" type="primary" @click="saveFn">保存</yu-button>
        <yu-button icon="yx-undo2" type="primary" @click="cancelFn">取消</yu-button>
      </div>
    </yu-xform>
  </yu-xdialog>
  <yufp-wf-init ref="yufpWfInit" @afterinit="onAfterInit" @afterclose="onAfterClose" :common-params="wfCommonParams" />
</div>