.article-detail {
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    position: relative;
    z-index: 1;
    height: 100%;
    /* padding: 8px 5px 0 5px; */
    /* background-color: rgba(0, 0, 0, 0.07); */
    overflow-x: hidden;
    overflow-y: auto;
}

.article-detail .body {
    border-radius: 4px;
    /* padding: 10px; */
}

.article-detail .body .article {
    background-color: white;
    /* width: 100%; */
    border-radius: 10px;
    border: 1px solid #dfe6ec;
}

.article-detail .body .reply {
    background-color: white;
    /* border-radius: 8px; */
    margin-top: 10px;
    overflow: hidden;
    height: 100%;
}

.article-detail .body .article .article-title {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 10px;
    text-align: center;
}

.article-detail .body .article .content {
    overflow: hidden;
    margin: 15px;
}

.article-detail .body .article .article-title .title {
    font-size: 20px;
    height: 30px;
    line-height: 25px;
    display: inline-block;
    color: #000000;
}

.article-detail .body .article .article-title .desc {
    padding-top: 5px;
    color: #000000;
}

.markdown-text {
    width: 100%;
    line-height: 30px;
    overflow-x: auto;
}

.article-detail .body .reply .other {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
}

.article-detail .body .reply .other .total-reply {
    position: absolute;
    top: 15px;
    right: 10px;
}

.article-detail .body .reply .reply-item {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 8px;
    border: 1px solid #dfe6ec;
}

.article-detail .body .reply .reply-item .reply-author {
    padding: 0 1%;
}

.article-detail .body .reply .reply-item .reply-author .reply-avatar {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 20px;
    -ms-flex-align: center;
    align-items: center;
}

.article-detail .body .reply .reply-item .reply-author .reply-avatar .reply-desc {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    padding-left: 10px;
    font-size: 85%;
    color: rgba(100, 100, 255, 0.9);
}

.article-detail .body .reply .reply-item .reply-content {
    padding: 0 30px;
}

.reply-opt-box {
    display: inline-block;
}

.reply-opt-btn {
    padding: 0px 8px;
    position: relative;
    cursor: pointer;
}

.reply-opt-btn:hover {
    text-decoration: underline;
}

.show-reply-btn {
    display: inline-block;
}

.reply-btn {
    display: none;
}

.reply-item:hover .reply-btn {
    display: inline-block;
}

.slide-top-enter-active {
    transition: all .5s ease;
}

.slide-top-leave-active {
    transition: all .2s ease-out;
}

.slide-top-enter,
.slide-top-leave-active {
    transform: translateY(-5px);
    opacity: 0;
}

.reply-form {
    width: 100%;
    height: 100%;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reply-form .reply-form-text {
    width: 90%;
    height: 120px;
    border: 1px solid #e3e1e1;
}

.reply-form .reply-form-text:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.reply-form .reply-form-btns {
    display: block;
    padding: 5px;
}

.sub-reply-item {
    display: list-item;
    margin-left: 32px;
    padding-left: 8px;
    border-left: 4px solid #c5c5c5;
}

.sub-reply-btn {
    display: none;
}

.sub-reply-item:hover .sub-reply-btn {
    display: inline-block;
}