<!-- 
  @Created by raop
  @updated by
  @description 贷款业绩分配
-->
<div>
  <link href="./themes/common/custom.css" rel="stylesheet" type="text/css">
  <div style="margin: 10px 0px;">
    <yu-xform related-table-name="yutable1" ref="queryFormRef">
      <yu-xform-group :column="4">
        <yu-xform-item placeholder="客户号" ctype="input" name="custId"></yu-xform-item>
        <yu-xform-item placeholder="客户名称" ctype="input" name="custName" ></yu-xform-item>
        <yu-xform-item placeholder="借据号" ctype="input" name="billNo"></yu-xform-item>
        <yu-xform-item placeholder="机构号" ctype="yufp-org-tree" name="orgId"></yu-xform-item>
        <yu-xform-item placeholder="放发日期从" ctype="datepicker" name="openDateStart"></yu-xform-item>
        <yu-xform-item placeholder="发放日期到" ctype="datepicker" name="openDateEnd"></yu-xform-item>
        <yu-xform-item placeholder="分配状态" ctype="yu-xselect" name="dstrSts" data-code="DS0001"></yu-xform-item>
        <yu-xform-item placeholder="审批状态" ctype="yu-xselect" name="applySts"  data-code="DS0002"></yu-xform-item>
      </yu-xform-group>
    </yu-xform>
    <div style="float:right;">
      <yu-button icon="search" type="primary" @click="searchFn">查询</yu-button>
      <yu-button icon="yx-loop2" type="primary" @click="resetFn">重置</yu-button>
    </div>
  </div>
  <div class="yu-toolBar">
    <yu-button-group>
      <yu-button icon="edit" @click="addFn" style="margin: 2px;">多区间分配</yu-button>
      <yu-button icon="document" @click="detailFn" style="margin: 2px;">多区间分配详情</yu-button>
     <!-- <yu-button icon="document" @click="commitFn" style="margin: 2px;">发起审批</yu-button>-->
    </yu-button-group>
  </div>
  <yu-xtable ref="yutable1" row-number :base-params="params" selection-type="radio"  :data-url="dataUrl" :default-load="false" @loaded="loadedHandler">
    <yu-xtable-column label="借据号" prop="billNo"></yu-xtable-column>
    <yu-xtable-column label="客户号" prop="custId"></yu-xtable-column>
    <yu-xtable-column label="客户名称" prop="custName"></yu-xtable-column>
    <yu-xtable-column label="发放日期" prop="openDate"></yu-xtable-column>
    <yu-xtable-column label="到期日期" prop="dueDate"></yu-xtable-column>
    <yu-xtable-column label="销户日期" prop="cancelDate"></yu-xtable-column>
    <yu-xtable-column label="贷款金额" prop="lAmt">
      <template slot-scope="scope">
        <span v-if="scope.row.lAmt != '-'">{{ yufp.util.moneyFormatter(scope.row.lAmt || 0, 2) }}</span>
        <span v-if="scope.row.lAmt == '-'">-</span>
      </template>
    </yu-xtable-column>
    <yu-xtable-column label="贷款余额" prop="lBal">
      <template slot-scope="scope">
        <span v-if="scope.row.lBal != '-'">{{ yufp.util.moneyFormatter(scope.row.lBal || 0, 2) }}</span>
        <span v-if="scope.row.lBal == '-'">-</span>
      </template>
    </yu-xtable-column>
    <yu-xtable-column label="贷款类型" prop="loanType" data-code="CD0353"></yu-xtable-column>
    <yu-xtable-column label="贷款期限" prop="lPeriod"></yu-xtable-column>
    <yu-xtable-column label="五级分类" prop="claFive"></yu-xtable-column>
    <yu-xtable-column label="放款机构号" prop="orgId"></yu-xtable-column>
    <yu-xtable-column label="放款机构名称" prop="orgName"></yu-xtable-column>
    <yu-xtable-column label="分配状态" prop="dstrSts" data-code="DS0001"></yu-xtable-column>
    <yu-xtable-column label="审批状态" prop="applySts" data-code="DS0002"></yu-xtable-column>

  </yu-xtable>


  <yu-xdialog title="区间分配" :visible.sync="dialogVisible" width="1000px">
    <div class="yu-toolBar">
      <yu-button-group>
        <yu-button  icon="plus" @click="addTwoFn">增加分配</yu-button>
      </yu-button-group>
    </div>
    <yu-xtable ref="refTableTwo" row-number :data="formDataTwo" :pageable="false">
      <yu-xtable-column label="起始日期" prop="effectDate" width="160" >
        <template slot-scope="scope">
          <yu-date-picker :picker-options="pickerOptions" v-model="scope.row.effectDate" format="yyyy-MM-dd" :editable="false" :clearable="false" type="date" placeholder="选择日期"  @change="updateBeginDate(scope.$index,scope.row.effectDate)">
          </yu-date-picker>
        </template>
      </yu-xtable-column>
      <yu-xtable-column label="结束日期" prop="expirateDate" width="120"></yu-xtable-column>
      <yu-xtable-column label="所属机构" prop="operOrgName" width="140"></yu-xtable-column>
      <yu-xtable-column label="分配人" prop="operUserName" width="100"></yu-xtable-column>
      <yu-xtable-column label="分配日期" prop="operTime" width="100"></yu-xtable-column>
      <yu-xtable-column label="操作" >
        <template slot-scope="scope">
          <yu-button v-if="flagPeriod"
                     size="small"
                     @click="handleChaifen(scope.$index, scope.row)">拆分区间</yu-button>
          <yu-button
                  size="small"
                  @click="handleFenpei(scope.$index, scope.row)">分配明细</yu-button>
          <yu-button
                  size="small"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)">删除</yu-button>
        </template>
      </yu-xtable-column>
    </yu-xtable>
    <yu-collapse v-model="activeNames" class="myCollapse" style="margin-top: 20px;">
      <yu-collapse-item title="分配信息" name="1" disabled="true">
        <yu-xform ref="refForm" v-model="queryData" >
          <yu-xform-group :column="4">
            <yu-xform-item label="主键" name="id" :hidden="true" disabled="false"></yu-xform-item>
            <yu-xform-item label="起始日期" name="effectDate" disabled="false"></yu-xform-item>
            <yu-xform-item label="结束日期" name="expirateDate" disabled="false"></yu-xform-item>
          </yu-xform-group>
        </yu-xform>
        <div class="yu-toolBar">
          <yu-button-group>
            <yu-button icon="plus" @click="addThreeFn" >初始化分配关系</yu-button>
          </yu-button-group>
        </div>
        <yu-xtable ref="refTableThree" :pageable="false" :data="contactData">
          <yu-xtable-column label="客户经理编号" prop="managerId" ></yu-xtable-column>
          <yu-xtable-column label="客户经理名称" prop="managerName" >
            <template slot-scope="scope">
              <yufp-user-selector :raw-value="scope.row.managerName" v-model="scope.row.userName" @select-fn="mgrSelectFn"
                                  :params="userSelectorParams"></yufp-user-selector>
            </template>
          </yu-xtable-column>
          <yu-xtable-column label="起始金额" prop="startAmt" v-if="flagOne">
          </yu-xtable-column>
          <yu-xtable-column label="结束金额" prop="endAmt" v-if="flagOne">
            <template slot-scope="scope">
              <yu-input v-model="scope.row.endAmt" @focus="saveOld" @blur="changeMoney(scope.$index)" ></yu-input>
            </template>
          </yu-xtable-column>
          <yu-xtable-column label="员工分配比例(%)" prop="distrRate">
            <template slot-scope="scope">
              <yu-input v-model="scope.row.distrRate" @focus="saveOld" @blur="changeRatio(scope.$index)" ></yu-input>
            </template>
          </yu-xtable-column>
          <yu-xtable-column label="操作" >
            <template slot-scope="scope">
              <yu-button
                      size="small"
                      type="danger"
                      @click="handleThreeDelete(scope.$index, scope.row)">删除</yu-button>
            </template>
          </yu-xtable-column>
        </yu-xtable>
      </yu-collapse-item>
    </yu-collapse>
    <div style="padding-top:20px;text-align: center;">
      <yu-button icon="yx-floppy-disk" type="primary" @click="saveFn" >保存</yu-button>
      <yu-button icon="yx-floppy-disk" type="primary" @click="tempSave" >暂存</yu-button>
      <yu-button icon="yx-undo2" type="primary" @click="clearFn" >清除</yu-button>
    </div>
  </yu-xdialog>

  <yu-xdialog title="多区间分配详情" :visible.sync="dialogVisibleDetail" width="1000px">
    <yu-xtable ref="refTableTwo" row-number :data="formDataTwo" :pageable="false">
      <yu-xtable-column label="起始日期" prop="effectDate" width="100"></yu-xtable-column>
      <yu-xtable-column label="结束日期" prop="expirateDate" width="100"></yu-xtable-column>
      <yu-xtable-column label="所属机构" prop="operorgname" width="160"></yu-xtable-column>
      <yu-xtable-column label="分配人" prop="operUserName" width="100"></yu-xtable-column>
      <yu-xtable-column label="分配日期" prop="operTime" width="160"></yu-xtable-column>
      <yu-xtable-column label="操作" >
        <template slot-scope="scope">
          <yu-button
                  size="small"
                  @click="handleFenpei(scope.$index, scope.row)">分配明细</yu-button>
        </template>
      </yu-xtable-column>
    </yu-xtable>
    <yu-collapse v-model="activeNames" class="myCollapse" style="margin-top: 20px;">
      <yu-collapse-item title="分配信息" name="1" disabled="true">
        <yu-xform ref="refForm" v-model="queryData" >
          <yu-xform-group :column="4">
            <yu-xform-item label="主键" name="id" :hidden="true" disabled="false"></yu-xform-item>
            <yu-xform-item label="起始日期" name="effectDate" disabled="false"></yu-xform-item>
            <yu-xform-item label="结束日期" name="expirateDate" disabled="false"></yu-xform-item>
          </yu-xform-group>
        </yu-xform>
        <yu-xtable ref="refTableThree" :pageable="false" :data="contactData">
          <yu-xtable-column label="客户经理编号" prop="managerId" >
          </yu-xtable-column>
          <yu-xtable-column label="客户经理名称" prop="managerName" >
          </yu-xtable-column>
          <yu-xtable-column label="起始金额" prop="startAmt" v-if="flagOne">
          </yu-xtable-column>
          <yu-xtable-column label="结束金额" prop="endAmt" v-if="flagOne">
          </yu-xtable-column>
          <yu-xtable-column label="员工分配比例(%)" prop="distrRate">
          </yu-xtable-column>
        </yu-xtable>
      </yu-collapse-item>
    </yu-collapse>

    <div style="padding-top:20px;text-align: center;">
      <yu-button icon="yx-undo2" type="primary" @click="cancelFn" >取消</yu-button>
    </div>
    </yu-collapse>
  </yu-xdialog>

  <yufp-wf-init ref="yufpWfInit" @afterinit="onAfterInit" @afterclose="onAfterClose" :common-params="wfCommonParams">
  </yufp-wf-init>
</div>