<yu-xform ref="refForm" label-width="170px" v-model="workReport" :disabled="detail">
    <yu-xform-group :column="2">
        <yu-xform-item label="类型" ctype="select" name="workReportBusiType" data-code="DY0004"></yu-xform-item>
        <yu-xform-item label="工作日期" ctype="datepicker" name="startDate" type="date" format="yyyy-MM-dd">
        </yu-xform-item>
    </yu-xform-group>

    <yu-xform-group :column="2">
        <yu-xform-item v-show="isDay" label="工作内容" :colspan="24" ctype="select" data-code="DY0003" name="workSummary"
            multiple>
        </yu-xform-item>
    </yu-xform-group>
    <yu-xform-group :column="1" v-show="isDay">
        <yu-xform-item label="培训/会议" ctype="textarea" name="workContent2" :rows="2" :colspan="24" placeholder="无数据"
            :hidden="!workSummary.second"></yu-xform-item>
        <yu-xform-item label="外访" ctype="textarea" name="workContent3" :rows="2" :colspan="24" placeholder="无数据"
            :hidden="!workSummary.three"></yu-xform-item>
        <yu-xform-item label="商机" ctype="textarea" name="workContent4" :rows="2" :colspan="24" placeholder="无数据"
            :hidden="!workSummary.fouth"></yu-xform-item>
        <yu-xform-item label="材料整理" ctype="textarea" name="workContent5" :rows="2" :colspan="24" placeholder="无数据"
            :hidden="!workSummary.five"></yu-xform-item>
    </yu-xform-group>
    <!-- 详情 客户接触 -->
    <yu-xtable ref="detailCustomerContactTable" :data="detailCustomerContactData" style="width: 100%"
        :hidden="!isCustContact">
        <yu-xtable-column label="客户" width="190" prop="contactCustName"></yu-xtable-column>
        <yu-xtable-column label="跟进类型" prop="contactType" data-code="DY0006"></yu-xtable-column>
        <yu-xtable-column label="跟进目的" prop="contactGoal" data-code="DY0005"></yu-xtable-column>
        <yu-xtable-column label="产品" prop="product" width="190"></yu-xtable-column>
        <yu-xtable-column label="跟进反馈" prop="contactBack" width="190"></yu-xtable-column>
        <yu-xtable-column label="下次跟进时间" prop="nextContactDate" width="100" :formatter="formJE" :picker-options="pickerOptions"></yu-xtable-column>
    </yu-xtable>

    <yu-xform-group :column="1">
        <yu-xform-item :label="annexLabel" ctype="textarea" name="annex" :rows="2" :colspan="24" placeholder="无数据">
        </yu-xform-item>
        <yu-xform-item :label="laterPlanLabel" ctype="textarea" name="laterPlan" :rows="2" :colspan="24"
            placeholder="无数据"></yu-xform-item>
    </yu-xform-group>

    <!-- <yu-xform-group v-if="workType.isDay" :column="1">
        <yu-xform-item label="补充内容" ctype="textarea" name="annex" :rows="2" :colspan="24" placeholder="500个字符以内"
            :rules="rule.max50Len"></yu-xform-item>
        <yu-xform-item label="总结及后续工作计划" ctype="textarea" name="laterPlan" :rows="2" :colspan="24"
            placeholder="500个字符以内" :rules="rule.max50Len"></yu-xform-item>
    </yu-xform-group>

    <yu-xform-group v-if="workType.isWeek" :column="1">
        <yu-xform-item label="本周总结" ctype="textarea" name="annex" :rows="2" :colspan="24" placeholder="500个字符以内"
            :rules="rule.notDay"></yu-xform-item>
        <yu-xform-item label="后续工作计划" ctype="textarea" name="laterPlan" :rows="2" :colspan="24" placeholder="500个字符以内"
            :rules="rule.max50Len"></yu-xform-item>
    </yu-xform-group>

    <yu-xform-group v-if="workType.isMonth" :column="1">
        <yu-xform-item label="本月总结" ctype="textarea" name="annex" :rows="2" :colspan="24" placeholder="500个字符以内"
            :rules="rule.notDay"></yu-xform-item>
        <yu-xform-item label="后续工作计划" ctype="textarea" name="laterPlan" :rows="2" :colspan="24" placeholder="500个字符以内"
            :rules="rule.max50Len"></yu-xform-item>
    </yu-xform-group>
     -->
    <yufp-upload-table ref="filesTable" :data-params="initFilesParams" :data="reportUpLoadBusNo"
        :upload-visible="uploadVisible" :download-visible="downloadVisible" :delete-visible="deleteVisible">
    </yufp-upload-table>
    </div>
</yu-xform>