<div id="notice_grid">
    <el-form-q :field-data="queryFields" :buttons="queryButtons"></el-form-q>

    <div class="yu-toolBar" style="margin-left: 20px;">
        <el-button-group>
            <el-button icon="plus" @click="addNoticeRecord" v-if="addButton">新增</el-button>
            <el-button icon="edit" @click="noticetableEditFn" v-if="updButton">修改</el-button>
            <el-button icon="delete" @click="dataNoticemultDeleteFn" v-if="delButton">删除</el-button>
            <el-button icon="document" @click="detailFn" v-if="viewButton">详情</el-button>
            <el-button icon="share" @click="pubNoticeButtonFn" v-if="pubButton">发布</el-button>
            <el-button icon="message" @click="readFn" v-if="readButton">已阅</el-button>
        </el-button-group>
    </div>

    <el-table-x ref="noticeTable" :border="false" :checkbox="true" :max-height="height" :data-url="serviceUrl" :table-columns="tableColumns" @select="rowClickFn" :base-params="initTableParams" @row-dblclick="rowDblclick">
    </el-table-x>

    <el-dialog title="系统公告" @close="close" :close-on-click-modal="false" :visible.sync="dialogVisible" top="5vh" width="60%">
        <el-form-x ref="noticeForm" id="noticeId" :group-fields="updateFields" :disabled="formDisabled" label-width="120px">
        </el-form-x>
        <el-tinymce-x :id="tinymceId" :visible="dialogVisible" ref="tinymce" v-model="content" :action="action" :bus-no="busNo" height="150px"></el-tinymce-x>
        <el-form-x ref="tmp" :buttons="updateButtons" :disabled="true" label-width="80px"></el-form-x>
        <yufp-upload-table ref="filesTable" :data-params="initFilesParams" :data="noticeUpLoadBusNo" :before-upload="beforeAvatarUpload" :upload-visible="uploadVisible" :download-visible="downloadVisible" :delete-visible="deleteVisible"></yufp-upload-table>
    </el-dialog>

    <el-dialog-x title="角色列表" :visible.sync="roleDialogVisible" :close-on-click-modal="false" @open="tmplShow" class="dialog1">
        <el-table-x ref="contrlTable" :checkbox="true" :data-url="contrUrl" :table-columns="contrlTableColumns" :base-params="initRolesTableParams" @select="roleSelectFn" @select-all="roleAllFn" @page-change="pageChange" @loaded="loadedFn"></el-table-x>
        <el-form-x ref="tmp" :buttons="selectionButton" :disabled="false" label-width="80px"></el-form-x>
    </el-dialog-x>

</div>