<!--
  @created by 张成龙 on 2019-1-24 15:09:02
  @updated by
  @description 理财认购计算器
-->
<div>
    <yu-row>
        <yu-col :span="23">
         <div class="yu-gridRightPanel" >
  <yu-xform ref="searchFrom" v-model="searchformdata" label-width="160px" :height="grpFormHeight" >
      <h1 style="text-align:left;padding-left:10px;padding-top:5px;padding-bottom:5px;font-size:16px;margin-bottom: 20px;" borderStyle="border:0;">理财认购计算器仅供参考)</h1>
      <yu-xform-group :column="2">
          <yu-xform-item label="认购金额(元)" placeholder="认购金额(元)"   ctype="num" name="param1"  :rules="rules.all" ></yu-xform-item>                  
          <yu-xform-item label="年化收益率(%)" placeholder="年化收益率(%)" ctype="num"  name="param2"  :rules="rules.all"></yu-xform-item>                            
          <yu-xform-item label="期限(天)" placeholder="期限(天)"  ctype="num" name="param3" :rules="rules.all"></yu-xform-item>   
          <yu-xform-item label="计息基础" ctype="radio" :options="JXBASE" name="param4" value="360" :rules="rules.allowBlank" ></yu-xform-item>                            
        </yu-xform-group>
    <div class="yu-grpButton">                                                                                      
      <yu-button-group>                                                                                                
        <yu-button icon="check" type="primary" @click="calculate">计算</yu-button>                                                        
        <yu-button icon="yx-undo2" type="" @click="restSeacher">重置</yu-button>                                                  
      </yu-button-group>                                                                                               
    </div>               
  </yu-xform>
  </div>
  </yu-col>
    <yu-col :span="23">
      <div class="yu-gridRightPanel" :style="{ 'height': (height - 200) + 'px' }">
        <h1>计算结果</h1>
        <yu-xform ref="refForm" label-width="140px" :height="grpFormHeight" v-model="formdata" :disabled="formDisabled">
          <yu-xform-group :column="1">
              <yu-xform-item label="预期收益额(元)" ctype="num" name="resultMoney1" :readonly="readFlag"></yu-xform-item> 
          </yu-xform-group>
        </yu-xform>
      </div>
        <div property="footer"style="text-align:left;padding-left:10px;padding-top:5px;padding-bottom:5px;" borderStyle="border:0;">
            <br/>
            <p style="font-size: 14px;color: #D83C3B">预期收益额(元)=认购金额(元)*年化收益率*期限(天)/计息天数;</p>                                       
            <br/>
            <p style="font-size: 14px;color: #D83C3B">本计算器结果仅供参考!</p>
          </div>
    </yu-col>
  </yu-row>
</div>