<!-- 
  @Created by taoting1 taoting1@yusys.com.cn on 2019-1-4 11:27:47.
  @updated by
  @description 客户认领
-->
<div>

  <!-- <yu-xform v-model="queryFormdata" related-table-name="refTable" form-type="search" class="search-form-layout">
    <yu-xform-group :column="6">
        <yu-xform-item placeholder="客户类型" name="custType" rules="required" ctype="select" data-code="CD0016"></yu-xform-item>
      <yu-xform-item placeholder="客户编号" name="custId" ctype="input"></yu-xform-item>
      <yu-xform-item placeholder="客户名称" name="custName" ctype="input"></yu-xform-item>
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="queryFormdata.custType != ''" data-code="CD0011"></yu-xform-item>
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="queryFormdata.custType != '1'" data-code="CD0348"></yu-xform-item>
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="queryFormdata.custType != '2'" data-code="CD0349"></yu-xform-item>
      <yu-xform-item placeholder="证件号码" name="certNo" ctype="input"></yu-xform-item>
      
      <yu-xform-item placeholder="客户状态" name="custStatus" ctype="select" data-code="CD0019"></yu-xform-item>
    </yu-xform-group>
  </yu-xform> -->
  <!-- <div class="yu-toolBar">
    <yu-button-group>
      <yu-button icon="yx-user-plus" @click="claimFn">客户认领</yu-button>
    </yu-button-group>
  </div> -->
  <!-- <yu-xtable ref="refTable" row-number :default-load = "false" :data-url="dataUrl" :base-params="baseParams">
    <yu-xtable-column label="客户编号" prop="custId" width="120"></yu-xtable-column>
    <yu-xtable-column label="客户名称" prop="custName" width="120"></yu-xtable-column>
    <yu-xtable-column label="证件类型" prop="certType" width="120" data-code="CD0011"></yu-xtable-column>
    <yu-xtable-column label="证件号码" prop="certNo" width="180"></yu-xtable-column>
    <yu-xtable-column label="客户类型" prop="custType" width="120" data-code="CD0016"></yu-xtable-column>
    <yu-xtable-column label="客户状态" prop="custStatus" width="120" data-code="CD0019"></yu-xtable-column>
    <yu-xtable-column label="客户归属主办机构" prop="oldOrgName" width="120"></yu-xtable-column>
    <yu-xtable-column label="认领人名称" prop="applyUsername" width="120"></yu-xtable-column>
    <yu-xtable-column label="认领机构名称" prop="applyInitname" width="120"></yu-xtable-column>
    <yu-xtable-column label="认领时间" prop="createDate" width="150"></yu-xtable-column>
    <yu-xtable-column label="审批状态" prop="approvelStatus" width="80" data-code="ACT_APP_STATS"></yu-xtable-column>
  </yu-xtable> -->
  <!-- 说明dialog可配置宽高属性，若不配置则宽度默认为屏幕50%，高度自适应
              width="650px" height="380px" -->
  <!-- <yu-xdialog title="客户选择" :visible.sync="dialogVisible" width="80%"> -->
    <yu-tabs v-model="tabactiveName" @tab-click="clickTabFn">
      <yu-tab-pane label="准入客户" name="first">
        <!-- 查询项：客户号、类型、状态 -->
        <yu-xform ref="custforSearchForm" v-model="forqueryFormdata" form-type="search" class="hide-form-search-btn"  :custom-search-fn="searchFn" :custom-rest-fn="resetMainFn">
          <yu-xform-group :column="8">
            <yu-xform-item placeholder="客户类型" name="custType" ctype="select" rules="required" data-code="CD0016"></yu-xform-item>
            <yu-xform-item placeholder="客户状态" name="stutas" ctype="select" rules="required" data-code="IN_CUST_STAT"></yu-xform-item>
            <yu-xform-item placeholder="客户号" name="custId" ctype="input"></yu-xform-item>
            <yu-xform-item placeholder="客户名称" name="custName" ctype="input"></yu-xform-item>
            <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="forqueryFormdata.custType != '1'" data-code="CD0348"></yu-xform-item>
      <!-- 对公证件类型 -->
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="forqueryFormdata.custType != '2'" data-code="CD0349"></yu-xform-item>
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="forqueryFormdata.custType != ''" data-code="CD0011"></yu-xform-item>
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="forqueryFormdata.custType != undefined" data-code="CD0011"></yu-xform-item>
      <yu-xform-item placeholder="证件号" name="certNo" ctype="input"></yu-xform-item>
            <yu-xform-item placeholder="归属机构" name="belongBrch" ctype="yufp-orgall-tree" :params="innerOrgParams"></yu-xform-item>
            <yu-xform-item placeholder="所属客户经理" name="belongMgr" ctype="yufp-mgr-selector"></yu-xform-item>
          </yu-xform-group>
          <!-- <div class="yu-grpButton" style="text-align: right;">
            <yu-button icon="search" type="primary" @click="searchFn">查询</yu-button>
            <yu-button icon="yx-loop2" type="primary" @click="resetMainFn">重置</yu-button>
          </div> -->
        </yu-xform>
        <div class="yu-toolBar"><yu-button icon="yx-point-right" @click="claimAdmit">认领客户</yu-button></div>
        
        <yu-xtable ref="forrefTable" class="permitSelect" @contextmenu.prevent.stop.native row-number :data-url="fordataUrl" :default-load="false"  :base-params="fordataParams" selection-type="radio">
          <yu-xtable-column label="客户类型" prop="custType" width="90" data-code="CD0016"></yu-xtable-column>
          <yu-xtable-column label="客户状态" prop="custStatus" width="90" data-code="CD0019"></yu-xtable-column>
          <yu-xtable-column label="客户号" prop="custId" width="100"></yu-xtable-column>
          <yu-xtable-column label="客户名称" prop="custName" width="200"></yu-xtable-column>
          <yu-xtable-column label="证件类型" prop="certType" width="100" data-code="CD0011"></yu-xtable-column>
          <yu-xtable-column label="证件号码" prop="certNo" width="180"></yu-xtable-column>
          <yu-xtable-column label="主办机构" prop="orgName" width="150"></yu-xtable-column>
          <yu-xtable-column label="主办客户经理" prop="mgrName" width="160"></yu-xtable-column>
          <yu-xtable-column label="客户价值等级" prop="valueLev" width="150" data-code="CD0243"></yu-xtable-column>
          <yu-xtable-column label="客户服务等级" prop="servLev" width="110" data-code="CD0032"></yu-xtable-column>
        </yu-xtable>
      </yu-tab-pane>
      <yu-tab-pane label="非准入客户" name="second">
        <yu-xform ref="custinforforSearchForm" v-model="inforqueryFormdata" form-type="search" class="hide-form-search-btn"  :custom-search-fn="inforsearchFn" :custom-rest-fn="inforresetMainFn">
          <yu-xform-group :column="6">
            <yu-xform-item placeholder="客户类型" name="custType" ctype="select" rules="required" data-code="CD0016"></yu-xform-item>
            <yu-xform-item placeholder="客户状态" name="stutas" ctype="select" rules="required" disabled  data-code="IN_CUST_STAT"></yu-xform-item>
            <yu-xform-item placeholder="客户号" name="custId" ctype="input"></yu-xform-item>
            <yu-xform-item placeholder="客户名称" name="custName" ctype="input"></yu-xform-item>
            <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="inforqueryFormdata.custType != '1'" data-code="CD0348"></yu-xform-item>
      <!-- 对公证件类型 -->
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="inforqueryFormdata.custType != '2'" data-code="CD0349"></yu-xform-item>
      <yu-xform-item placeholder="证件类型" name="certType" ctype="select" :hidden="inforqueryFormdata.custType != ''" data-code="CD0011"></yu-xform-item>
            <yu-xform-item placeholder="证件号" name="certNo" ctype="input"></yu-xform-item>
           
          </yu-xform-group>
          <!-- <div class="yu-grpButton" style="text-align: right;">
            <yu-button icon="search" type="primary" @click="inforsearchFn">查询</yu-button>
            <yu-button icon="yx-loop2" type="primary" @click="inforresetMainFn">重置</yu-button>
          </div> -->
        </yu-xform>
        <div class="yu-toolBar"><yu-button icon="yx-point-right" @click="claimNoAdmit">认领</yu-button></div>
        <yu-xtable ref="inforrefTable" row-number :data-url="infordataUrl" :default-load="false" selection-type="radio">
          <yu-xtable-column label="客户类型" prop="custType" width="90" data-code="CD0016"></yu-xtable-column>
          <yu-xtable-column label="客户状态" prop="custStatus" width="90" data-code="CD0019"></yu-xtable-column>
          <yu-xtable-column label="客户号" prop="custId" width="100"></yu-xtable-column>
          <yu-xtable-column label="客户名称" prop="custName" width="200"></yu-xtable-column>
          <yu-xtable-column label="证件类型" prop="certType" width="100" data-code="CD0011"></yu-xtable-column>
          <yu-xtable-column label="证件号码" prop="certNo" width="180"></yu-xtable-column>
          <yu-xtable-column label="主办机构" prop="orgName" width="150"></yu-xtable-column>
          <yu-xtable-column label="主办客户经理" prop="mgrName" width="160"></yu-xtable-column>
          <yu-xtable-column label="客户价值等级" prop="valueLev" width="150" data-code="CD0243"></yu-xtable-column>
          <yu-xtable-column label="客户服务等级" prop="servLev" width="110"  data-code="CD0032"></yu-xtable-column>
        </yu-xtable>
      </yu-tab-pane>
    </yu-tabs>
    <div class="yu-grpButton">
      <!-- 认领提交时，要判断是否属于同一个机构。然后请求机构层级，判断机构层级大于2时，与小于2时的层级发送的请求不同 -->
      <!-- <yu-button icon="check" type="primary" @click="confirmFn">确定</yu-button> -->
      <!-- <yu-button icon="circle-close" type="primary" @click="dialogVisible = false;">取消</yu-button> -->
    </div>
  <!-- </yu-xdialog> -->
  <yu-xdialog title="客户认领申请" :visible.sync="claimdialogVisible" width="700px">
    <yu-xform ref="applirefForm" label-width="146px" v-model="claimAppliformdata">
      <yu-xform-group>
        <!-- <yu-xform-item label="认领期限（天）" name="deadLine" ctype="input" rules="required"></yu-xform-item> -->
        <yu-xform-item label="认领关系类型" name="manType"   ctype="select" data-code="CD0241" :disabled="mainTypeR" rules="required"></yu-xform-item>
        <yu-xform-item label="认领理由" name="applyReason" ctype="textarea" :colspan="24" rules="required"></yu-xform-item>
      </yu-xform-group>
    </yu-xform>
    <div class="yu-grpButton">
      <!-- 认领提交时，要判断是否属于同一个机构。然后请求机构层级，判断机构层级大于2时，与小于2时的层级发送的请求不同 -->
      <yu-button icon="circle-close" type="primary" @click="claimdialogVisible = false;">取消</yu-button>
      <yu-button icon="check" type="primary" @click="submitAdmit">提交</yu-button>
    </div>
  </yu-xdialog>
  <yu-xdialog title="客户认领申请" :visible.sync="claimNoAdmitVisible" width="700px">
      <yu-xform ref="applirefFormNoAdmit" label-width="146px" v-model="claimAppliformdataNoAdmit">
        <yu-xform-group>
          <!-- <yu-xform-item label="认领期限（天）" name="deadLine" ctype="input" rules="required"></yu-xform-item> -->
          <yu-xform-item label="认领关系类型" name="manType"   ctype="select" data-code="CD0241" disabled = "false" rules="required"></yu-xform-item>
          <yu-xform-item label="认领理由" name="applyReason" ctype="textarea" :colspan="24" rules="required"></yu-xform-item>
        </yu-xform-group>
      </yu-xform>
      <div class="yu-grpButton">
        <!-- 认领提交时，要判断是否属于同一个机构。然后请求机构层级，判断机构层级大于2时，与小于2时的层级发送的请求不同 -->
        <yu-button icon="circle-close" type="primary" @click="claimdialogVisible = false;">取消</yu-button>
        <yu-button icon="check" type="primary" @click="submitNoAdmit">提交</yu-button>
      </div>
    </yu-xdialog>
  <!-- afterinit——  -->
  <!-- 审批流组件 -->
  <yufp-wf-init ref="approvalRef" @afterinit="onAfterCloseFn" :common-params="wfCommonParams"></yufp-wf-init>
</div>

<style type="text/css">
  .permitSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>