<!--
  @created by hyx on 2018/07/06.
  @updated by taoting1 2019/01/21
  @description 客户群管理查询
-->
<div id="exampleEdit">
  <!--查询字段和查询按钮及重置按钮-->
  <el-form-q ref="myform" :field-data="queryFields" :buttons="queryButtons" :columns="8"></el-form-q>
  <div class="yu-toolBar">
    <el-button-group>
      <el-button icon="document" @click="clickFn" v-if="groupviewButton">客户群视图</el-button>
      <el-button icon="plus" @click="addFn" v-if="addButton">新增</el-button>
      <el-button icon="yx-bin" @click="deleteFn" v-if="delButton">删除</el-button>
      <el-button icon="document" @click="createFn" v-if="createButton">创建营销活动</el-button>
      <el-button icon="document" @click="genBopFn" v-if="genbopButton">生成商机</el-button>
      <!-- <el-button icon="document" @click="upTable">上传模板</el-button> -->
    </el-button-group>
  </div>
  <!--显示表格数据，选择表格样式以及配置url链接地址-->
  <div class="test">
  <el-table-x ref="reftable" @row-dblclick="rowDblclickFn" height=500 :row-index="true" :checkbox="true" :table-columns="tableColumns"
    :data-url="Url" :default-load="false" >
  </el-table-x>
</div>
  <!-- 弹出框，显示增加页面-->
  <el-dialog-x title= "新增" :visible.sync="dialogVisibleAdd" width="960px" height="500px" top="2%">
    <!-- TODO 当表单中客户来源是“自动筛选” 时， 群成员类型自动关联为“公司联动”，且不能修改 -->
    <el-form-x ref="refformAdd" :group-fields="addFields" :buttons="addButtons" label-width="110px" v-show="step">
    </el-form-x>
    <div :id="Div" v-show="step1"></div>
    <div class="button-group">
      <el-button type="primary" style="display: block; margin: 0 auto" v-show="step2" @click="clickPrimary">保存</el-button>
    </div>
    </el-form-x>
    <!-- </div>  -->
  </el-dialog-x>
  <el-dialog-x :title=viewTitle[viewType] :visible.sync="dialogVisibleView" width="750px">
    <el-form-x ref="refform" :group-fields="viewFields" :buttons="infoButton" label-width="110px">
    </el-form-x>
  </el-dialog-x>
  <el-dialog-x :title="uploadTitle" :visible.sync="uploadDialog" width="570px" height="330px">
      <div id="template_tinymce">
        <textarea ref="dataSqlTemp" cols="70" rows="15">
  导入注意事项：     
  一. Excel文件的需严格安照模板格式(可以先下载模板)。
  二. 字段不能为空。
  三. 表头不能修改。
  四. 模板表1不能删除;
        </textarea>
      </div>
      <el-button style="margin-left: 10px;" size="small" type="primary"
              @click="downTable">下载模板</el-button>  
      <el-upload style="display: inline-block;" :show-file-list="true" 
          :multiple="false" :file-list="fileList"  
          :action="action"  ref="verUpload" :auto-upload="false" :headers="headers" :data="uploaddata"
          :on-success="onSuccess" :on-error="onError" :before-upload="beforeAvatarUpload">
          <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <el-button style="margin-left: 10px;" size="small" type="primary" 
              @click="submitUpload">批量导入客户群</el-button>
        </el-upload>
      </el-dialog-x>
  <!-- <el-dialog-x title="上传附件信息" :visible.sync="uploadInfoVisible" width="800px" height="600px">
		
		<el-row :gutter="20">
			<yufp-upload-table ref="filesTable" :data-params="initFilesParams" :data="noticeUpLoadBusNo" 
			 :upload-visible="uploadVisible" :success-fn="successFn" :download-visible="downloadVisible"
			 ></yufp-upload-table>
		</el-row>
  </el-dialog-x> -->
  <!-- 创建营销活动 -->
  <yu-xdialog title="新增营销活动" :visible.sync="dialogVisible" width="1000px">
    <yu-tabs v-model="activeName" @tab-click="" >
      <yu-tab-pane label="营销活动基本信息" name="first" :disabled="true">
        <!-- 新增营销活动 -->
        <yu-xform ref="activeAddForm" label-width="120px" :disabled="infoDisabled" v-model="activeAddFormdata">
          <yu-xform-group :column="3">
            <yu-xform-item label="营销活动名称" name="actiName" rules="required" ctype="input" :disabled="editDisabled"></yu-xform-item>
            <yu-xform-item label="是否指定客户" name="contactCust" ctype="select" data-code="CD0238" rules="required"></yu-xform-item>
            <yu-xform-item label="营销活动方式" name="actiMode" rules="required" ctype="yu-xselect" multiple :options="actiModeOptions"></yu-xform-item>
            <yu-xform-item label="营销活动类型" name="actiType" rules="required" ctype="select" data-code="MAR_ACT_TYPE" :disabled="editDisabled"></yu-xform-item>
            <yu-xform-item label="计划开始日期" name="pstartDate" ctype="datepicker" rules="required" :disabled="editDisabled" format="yyyy-MM-dd" :picker-options="pstartDate"></yu-xform-item>
            <yu-xform-item label="计划结束日期" name="pendDate" ctype="datepicker" rules="required" format="yyyy-MM-dd" :picker-options="pendDate"></yu-xform-item>
            <yu-xform-item label="营销渠道" name="mktChanel" rules="required" ctype="select" data-code="MAR_CHANEL"></yu-xform-item>
            <yu-xform-item label="费用预算" name="actiCost" ctype="input" :rules="numberType"></yu-xform-item>
            <yu-xform-item label="具体费用分配" name="specificCostDistr" ctype="input"></yu-xform-item>
            <yu-xform-item label="合作第三方" name="cprtThreePart" ctype="input"></yu-xform-item>
            <yu-xform-item label="活动负责人" name="mktRespPerson" ctype="yufp-user-selector" rules="required" :params="params"></yu-xform-item>
            <yu-xform-item label="营销活动目的" name="actiAim" ctype="textarea" rules="required" :colspan="24" :rows="2"></yu-xform-item>
            <yu-xform-item label="营销活动内容" name="actiCont" ctype="textarea" rules="required" :colspan="24" :rows="2"></yu-xform-item>
            <yu-xform-item label="活动地点" name="actiAddr" ctype="textarea" :colspan="24"></yu-xform-item>
            <yu-xform-item label="涉及客户群描述" name="actiCustDesc" ctype="textarea" :colspan="24" :rows="2"></yu-xform-item>
            <yu-xform-item label="涉及执行人描述" name="actiOperDesc" ctype="textarea" :colspan="24" :rows="2"></yu-xform-item>
            <yu-xform-item label="涉及产品描述" name="actiProdDesc" ctype="textarea" :colspan="24" :rows="2"></yu-xform-item>
            <yu-xform-item label="备注" name="actiRemark" ctype="textarea" :colspan="24"></yu-xform-item>
          </yu-xform-group>
          <div class="yu-grpButton">
            <yu-button icon="yx-undo2" type="primary" @click="cancelFn('activeAddForm')">取消</yu-button>
            <yu-button icon="check" type="primary" @click="nextStepFn('activeAddForm')">下一步</yu-button>
          </div>
        </yu-xform>
      </yu-tab-pane>
      <yu-tab-pane label="关联产品信息" name="second" :disabled="true">
        <yu-row>
          <yu-col :span="4">
            <yufp-prod-selector @select-fn="addProdFn"  v-model="selectProdInfo" :params="prodParam"></yufp-prod-selector>
          </yu-col>
          <yu-col :span="4">
            <yu-button icon="yx-undo2" type="" @click="deleteProdFn">删除</yu-button>
          </yu-col>
        </yu-row>
        <yu-xtable ref="ocrmFMkActiProduct" row-number :data-url="prodDataUrl" :base-params="fprodParams" @loaded="getTableDataFn"
          selection-type="checkbox">
          <yu-xtable-column label="产品名称" prop="productName" rules="required" :disabled="infoDisabled"></yu-xtable-column>
          <yu-xtable-column label="关联产品人" prop="createName" ctype="yufp-user-selector" rules="required" :disabled="infoDisabled" :params="params" @select-fn="selectCustbackFn"></yu-xtable-column>
          <yu-xtable-column label="关联产品日期" prop="createDate" ctype="datepicker" rules="required" :disabled="infoDisabled" :formatter="dateFormatterSimple"></yu-xtable-column>
        </yu-xtable>
        <div class="yu-grpButton">
          <yu-button icon="yx-undo2" @click="backStepFn('isProductAdd')" type="primary">上一步</yu-button>
          <yu-button icon="check" type="primary" @click="nextStepFn('isProductAdd')">下一步</yu-button>
        </div>
      </yu-tab-pane>
      <yu-tab-pane label="目标客户信息" name="third" :disabled="true">
        <!--  新增关联客户 -->
        <yu-row>
          <yu-col :span="4">
            <yufp-governed-cust-selector @select-fn="addCustFn" v-model="selectCustInfo"></yufp-governed-cust-selector>
          </yu-col>
          <yu-col :span="4">
            <yufp-cust-group @select-fn="addCustGroupFn" v-model="selectCustGroup"></yufp-cust-group>
          </yu-col>
          <!-- <yu-col :span="4">
           <yufp-mgr-selector></yufp-mgr-selector>
          </yu-col> -->
          <yu-col :span="4">
            <yu-button @click="deleteCustFn">删除</yu-button>
          </yu-col>
        </yu-row>
        <yu-xtable ref="OCRM_F_MK_ACTI_CUST" row-number :data-url="custDataUrl" :base-params="custParams" @loaded="getCustTableDataFn"
          selection-type="checkbox">
          <yu-xtable-column label="客户号" prop="custId"></yu-xtable-column>
          <yu-xtable-column label="客户名称" prop="custName"></yu-xtable-column>
          <yu-xtable-column label="主办客户经理" prop="custManagerName"></yu-xtable-column>
          <yu-xtable-column label="主办机构" prop="custManagerOrgName"></yu-xtable-column>
          <yu-xtable-column label="目标客户来源" prop="aimCustSource" data-code="AIM_CUST_SOURCE"></yu-xtable-column>
          <yu-xtable-column label="进展阶段" prop="progressStep" data-code="PROGERSS_STEP"></yu-xtable-column>
          <yu-xtable-column label="关联客户人" prop="relationUserName"></yu-xtable-column>
          <yu-xtable-column label="关联客户日期" prop="relationDate" :formatter="dateFormatterSimple"></yu-xtable-column>
        </yu-xtable>
        <div class="yu-grpButton">
          <yu-button icon="yx-undo2" @click="backStepFn('isCustomAdd')" type="primary">上一步</yu-button>
          <yu-button icon="check" @click="nextStepFn('isCustomAdd')" type="primary">下一步</yu-button>
        </div>
      </yu-tab-pane>
      <yu-tab-pane label="指标信息" name="fourth" :disabled="true">
        <!--  已选指标信息显示 -->
        <yu-row :gutter="20">
            <yu-col :span="10">
                <yu-xform ref="taskAllotForm" label-width="130px" v-model="taskAllotFormdata" class="hide-form-search-btn" form-type="search">
                    <yu-xform-group :column="1">
                      <yu-xform-item label="下达对象类型" name="exeObjType" rules="required" ctype="select" data-code="EXE_OBJ_TYPE"  :disabled="infoDisabled"
                        @change="changeExetypeFn"></yu-xform-item>
                    </yu-xform-group>
                  </yu-xform>
            </yu-col>
            <yu-col :span="4">
                <div style="margin-bottom: 10px;padding-top:10px;">
                    <yu-button icon="check" @click="addTask">添加指标</yu-button>
                    <!-- <yu-button icon="yx-undo2" @click="deleteTaskFn">删除</yu-button> -->
                </div>
            </yu-col>
        </yu-row>
        <div  class=" ys-stChooseTags" style="overflow: auto; width: calc(100%-140px);;">
            <div ><h1 class="ys-stctTitle">您已选择：</h1></div>
            <div v-for="(item,index) in taskInfo " :key="'t_'+index">
                <a class="ys-stcTag" href="javascript:void(0)" title="item.targetName">{{item.targetName}}<i  class="el-icon-yx-cross" @click="deleteSeTagFn(item)"></i></a>
              </div>
        </div>
        <!--  分配下达任务指标 -->
        <yu-row :gutter="20">
          <yu-col :span="24">
            <div class="grid-content bg-purple">
              <yu-xtable ref="OCRM_F_MK_ACTI_TARGET" row-number  :pageable="true" v-show="showTask == 'taskOrg'" :data="taskOrgTabledata" :base-params="orgtargetParams"
                selection-type="checkbox" :key='tableKey'>
                <yu-xtable-column label="下达对象编号" prop="exeObjCode"></yu-xtable-column>
                <yu-xtable-column label="下达对象名称" prop="exeObjName"></yu-xtable-column>
                <yu-xtable-column :label="item.targetName" align="center" v-for="(item,index) in taskInfo" :key="index">
                    <yu-xtable-column label="指标初期值" :prop="item.orignalVal" width="110" width="110"></yu-xtable-column>
                    <yu-xtable-column label="指标目标值" :prop="item.targetValue" width="110" v-if="item.valueCondition=='1'" ctype="input" width="110" :rules="numberType">
                    </yu-xtable-column>
                    <yu-xtable-column label="指标目标值" :prop="item.targetValue" width="110" v-if="item.valueCondition=='2'" width="110" ></yu-xtable-column>
                </yu-xtable-column>
              </yu-xtable>
              <yu-xtable ref="OCRM_F_MK_ACTI_TARGET1" row-number  :pageable="true" v-show="showTask == 'taskManerger'" :data="taskUserTabledat" :base-params="usertargetParams"
              selection-type="checkbox" :key='tableKey'>
              <yu-xtable-column label="下达对象编号" prop="exeObjCode"></yu-xtable-column>
              <yu-xtable-column label="下达对象名称" prop="exeObjName"></yu-xtable-column>
              <yu-xtable-column :label="item.targetName" align="center" v-for="(item,index) in taskInfo" :key="'k_'+index">
                  <yu-xtable-column label="指标初期值" :prop="item.orignalVal" width="110" width="110"></yu-xtable-column>
                  <yu-xtable-column label="指标目标值" :prop="item.targetValue" width="110" v-if="item.valueCondition=='1'" ctype="input" width="110" :rules="numberType">
                  </yu-xtable-column>
                  <yu-xtable-column label="指标目标值" :prop="item.targetValue" width="110" v-if="item.valueCondition=='2'" width="110" ></yu-xtable-column>
              </yu-xtable-column>
            </yu-xtable>
            </div>
          </yu-col>
        </yu-row>
        <div class="yu-grpButton">
          <yu-button icon="yx-undo2" @click="backStepFn('taskAllotDiv')" type="primary">上一步</yu-button>
            <yu-button icon="check" @click="nextStepFn('taskAllotDiv')" type="primary">下一步</yu-button>
        </div>
      </yu-tab-pane>
      <yu-tab-pane label="附件信息" name="fifth" :disabled="true">
        <!--  关联附件上传 -->
        <div>
          <yufp-act-file-upload @success-fn="fileUpSuccessFn" :upload-visible="ifFile" :delete-visible="ifFile" :download-visible="ifFile" :data-params="fileParams" :data="fileDataParams"></yufp-act-file-upload>
        </div>
        <div class="yu-grpButton">
          <yu-button icon="yx-undo2" @click="backStepFn('attachmentTable')" type="primary">上一步</yu-button>
          <yu-button icon="check" @click="temSaveFn" type="primary">保存</yu-button>
        </div>

      </yu-tab-pane>
    </yu-tabs>
  </yu-xdialog>
  <!-- 商机新增弹框 -->
  <yu-xdialog title="生成商机" :visible.sync="busOprHandVisible">
    <yu-xform label-width="120px" ref="busOprHandForm" v-model="busOprHandFormdata">
      <yu-xform-group :column="3">
        <yu-xform-item label="商机名称" name="businessName" rules="required"></yu-xform-item>
        <yu-xform-item label="商机定向条线" name="businessFitCust" ctype="select" data-code="BUS_FITCUST"></yu-xform-item>
        <yu-xform-item label="商机类型" name="businessType" ctype="select" rules="required" data-code="BUS_TYPE"></yu-xform-item>
        <!-- 客户群选择器 -->
        <!-- <yu-xform-item label="客户群名称" name="custGroupName" ctype="input" placeholder="选择客户群"></yu-xform-item> -->
        <yu-xform-item label="商机开始日期" name="businessStartDate" ctype="datepicker" rules="required"></yu-xform-item>
        <yu-xform-item label="商机结束日期" name="businessEndDate" ctype="datepicker" rules="required"></yu-xform-item>
        <yu-xform-item label="商机有效期" name="businessValidDate" ctype="datepicker"></yu-xform-item>
        <!-- 营销活动选择控件 -->
        <yu-xform-item label="关联活动" name="marketActivityId" type="select" :disabled="editDisabled"></yu-xform-item>
        <yu-xform-item label="客户联系人" name="custContact" rules="required" ctype="input"></yu-xform-item>
        <yu-xform-item label="联系方式" name="custConcactInfo" ctype="input" rules="required" :disabled="editDisabled"></yu-xform-item>
        <!-- 产品选择控件 -->
        <yu-xform-item label="关联产品" name="contactProdId" ctype="yufp-prod-selector" :prodParams="prodParams" rules="required"></yu-xform-item>
        <yu-xform-item label="预计金额" name="expectAmount" rules="required" ctype="num"></yu-xform-item>
        <yu-xform-item label="实际达成金额" name="reachAmount" ctype="num" rules="required"></yu-xform-item>
        <yu-xform-item label="预计达成概率" name="successChance" ctype="input" rules="required" ></yu-xform-item>
        <yu-xform-item label="商机内容描述" name="businessContent" ctype="input" rules="required"></yu-xform-item>
        <!-- 产品选择控件 -->
        <yu-xform-item label="执行人" name="executeUser" ctype="yufp-mgr-selector"></yu-xform-item>
        <yu-xform-item label="执行机构" name="executeOrg" ctype="input"></yu-xform-item>
      </yu-xform-group>
      <yu-xtable ref="custGrouprefTable" row-number :data-url="custDataUrl" :highlight-current-row="true">
        <yu-xtable-column label="客户号" prop="custId" ></yu-xtable-column>
        <yu-xtable-column label="客户名称" prop="custName" ></yu-xtable-column>
        <yu-xtable-column label="客户类型" prop="custType"  data-code="CD0016"></yu-xtable-column>
        <yu-xtable-column label="客户状态" prop="custStatus"  data-code="CD0019"></yu-xtable-column>
      </yu-xtable>
      <div class="yu-grpButton">
        <yu-button icon="check" @click="saveBopFn" type="primary">保存</yu-button>
        <yu-button icon="close" @click="cancleFn('ADD')" type="primary">取消</yu-button>
      </div>
    </yu-xform>
  </yu-xdialog>
  <!-- 指标选择弹框 -->
  <yu-xdialog title="指标选择" :visible.sync="taskInfoVisible" width="1000px">
    <yu-xtable ref="taskinfoTable"  row-number :data-url="prodTaskInfoUrl" :pageable="true" :base-params="prodIndexParams"
    selection-type="checkbox">
    <yu-xtable-column label="指标编号" prop="targetId" ></yu-xtable-column>
    <yu-xtable-column label="指标名称" prop="targetName"  ></yu-xtable-column>
    <yu-xtable-column label="取值方式" prop="valueCondition" data-code="VALUE_CONDITION"></yu-xtable-column>
    <yu-xtable-column label="产品编号" prop="productId"  ></yu-xtable-column>
    <yu-xtable-column label="产品名称" prop="prodName" ></yu-xtable-column>
  </yu-xtable>
  <div class="yu-grpButton">
    <yu-button icon="yx-undo2" type="primary" @click="cancelSelectIndexFn">取消</yu-button>
      <yu-button icon="check" type="primary" @click="selectIndexFn">确定</yu-button>
    </div>
</yu-xdialog>
</div>