<!--
  @created by 罗顺 on 2018/11/16.
  @description 营销组件FORM表单-渠道组件-手机银行
-->
<div>
  <!-- <el-collapse v-model="activeNames"> -->
    <!-- <el-collapse-item title="输入" name="1">
      <el-tabs :active-name="activeName1" @tab-click="handleInputClick">
        <el-tab-pane label="客户集合" name="person">
          <template>
            <el-table border style="width: 100%" height="120" :data="custGroupTableData">
              <el-table-column prop="custGroupId" label="客户群编号" width="180"></el-table-column>
              <el-table-column prop="custGroupName" label="客户群名称" width="180"></el-table-column>
              <el-table-column prop="custNum" label="客户数"></el-table-column>
            </el-table>
          </template>
        </el-tab-pane>
        <el-tab-pane label="产品集合" name="PRODUCT">
          <template>
            <el-table border style="width: 100%" height="120" :data="proInTableData">
              <el-table-column type="index" label="序号" width="120"></el-table-column>
              <el-table-column prop="productId" label="产品编号" width="120"></el-table-column>
              <el-table-column prop="prodName" label="产品名称" width="200"></el-table-column>
              <el-table-column prop="catlName" label="产品分类" width="120" ></el-table-column>
              <el-table-column prop="prodState" label="是否在售" width="120" :formatter="fomatData"></el-table-column>
              <el-table-column prop="money" label="币种" width="120" :formatter="fomatData"></el-table-column>
              <el-table-column prop="riskLevel" label="风险等级" width="120" :formatter="fomatData"></el-table-column>
              <el-table-column prop="prodDept" label="管理部门" width="120"></el-table-column>
              <el-table-column prop="prodMag" label="产品经理" width="120"></el-table-column>
              <el-table-column prop="rate" label="基准利率" width="120"></el-table-column>
              <el-table-column prop="channelName" label="可用营销渠道" width="120"></el-table-column>
              <el-table-column prop="modelName" label="营销渠道模板" ></el-table-column>
            </el-table>
          </template>
        </el-tab-pane>
        <el-tab-pane label="关怀集合" name="CARE">
          <template>
            <el-table border style="width: 100%" height="120" :data="careInTableData">
              <el-table-column type="index" label="序号" width="120"></el-table-column>
              <el-table-column prop="catlName" label="关怀类型" width="180"></el-table-column>
              <el-table-column prop="modelInfo" label="营销渠道模板"></el-table-column>
            </el-table>
          </template>
        </el-tab-pane>
        <el-tab-pane label="关注风险集合" name="RISK">
          <template>
            <el-table border style="width: 100%" height="120"  :data="riskInTableData">
              <el-table-column type="index" label="序号" width="120"></el-table-column>
              <el-table-column prop="catlName" label="风险类型" width="180"></el-table-column>
              <el-table-column prop="modelInfo" label="营销渠道模板"></el-table-column>
            </el-table>
          </template>
        </el-tab-pane>
      </el-tabs>
    </el-collapse-item> -->
    <!-- <el-collapse-item title="操作" name="2"> -->
      <el-form ref="myform" :model="model" label-position="left" label-suffix=":" :rules="rules">
        <el-form-item label="营销栏位" prop="marketHurdles" required>
            <el-col :span="10" >
                <yu-select v-model="model.marketHurdles" placeholder="请选择" multiple :clearable="true" @change="selectFn">
                    <yu-option v-for="item in options" :key="item.key"  :label="item.value" :value="item.key"> </yu-option>
                  </yu-select>
            </el-col>
        </el-form-item>
        <el-form-item v-for="obj in selectFields" :prop="obj.mktSetSign" :label="obj.mktSet">
            <yu-radio-group v-model="obj.prop"  placeholder="选择营销栏位">
                <yu-radio  v-for="item in options1" :key="item.key" :label="item.key" >{{item.value}}</yu-radio >
              </yu-radio-group>
        </el-form-item>
        <el-form-item label="素材类型" prop="displayType" required>
          <el-col :span="10" >
              <yu-select v-model="model.displayType" placeholder="请选择"  :clearable="true" @change="displaySelectFn">
                  <yu-option v-for="item in displayOptions" :key="item.key"  :label="item.value" :value="item.key"> </yu-option>
                </yu-select>
          </el-col>
        </el-form-item>
        <el-form-item label="标题素材" :required="requiredbt" prop="activityStartPic" v-if="model.displayType=='1' || model.displayType=='2'">
          <el-col :span="10" >
            <yu-upload class="avatar-uploader"
              :action="uploadAction"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload">
              <img v-if="imageUrl" :src="imageUrl" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </yu-upload>
          </el-col>
        </el-form-item>
        <el-form-item label="文  章" :required="requiredwz"  prop="activityStartPic" v-if="model.displayType=='3'">
            <el-col :span="10" >
                <yu-select v-model="model.activityStartPic" placeholder="请选择"  :clearable="true">
                    <yu-option v-for="item in articleOptions" :key="item.key"  :label="item.value" :value="item.key"> </yu-option>
                  </yu-select>
            </el-col>
          </el-form-item>
        <el-form-item label="有效时间" required>
            <el-col :span="10">
              <el-form-item prop="marketBeginTime">
                  <yu-date-picker  v-model="model.marketBeginTime" type="date" placeholder="选择日期时间"> </yu-date-picker>
              </el-form-item>
            </el-col>
            <el-col align="center" :span="2">—</el-col>
            <el-col :span="10">
              <el-form-item prop="marketEndTime">
                  <yu-date-picker  v-model="model.marketEndTime" type="date" placeholder="选择日期时间"> </yu-date-picker>
              </el-form-item>
            </el-col>
          </el-form-item>
        <el-form-item align="center">
          <el-button type="primary" @click="reset" :disabled="buttonHiden">重置</el-button>
          <el-button type="primary" @click="save" :disabled="buttonHiden">保存</el-button>
        </el-form-item>
      </el-form>
    <!-- </el-collapse-item> -->
    <!-- <el-collapse-item title="输出" name="3">
      <el-tabs :active-name="activeName2" @tab-click="handleClick">
        <el-tab-pane label="产品营销短信" name="PRODUCT">
          <template>
            <el-table border style="width: 100%" height="120" :data="proTableData">
              <el-table-column type="index" label="序号" width="120"></el-table-column>
              <el-table-column prop="ifSuccess" label="是否已触达" width="120" :formatter="fomatData"></el-table-column>
							<el-table-column prop="custId" label="客户编号" width="120"></el-table-column>
							<el-table-column prop="custName" label="客户名称" width="120"></el-table-column>
							<el-table-column prop="custType" label="客户类型" width="120" :formatter="fomatData"></el-table-column>
							<el-table-column prop="phoneNum" label="手机号码" width="120"></el-table-column>
							<el-table-column prop="productId" label="产品编号" width="120"></el-table-column>
							<el-table-column prop="productName" label="产品名称" width="120"></el-table-column>
							<el-table-column prop="catlName" label="产品类型" width="120"></el-table-column>
							<el-table-column prop="message" label="营销话术" ></el-table-column>
            </el-table>
          </template>
        </el-tab-pane>
        <el-tab-pane label="关怀营销短信" name="CARE">
          <template>
            <el-table border style="width: 100%" height="120" :data="careTableData">
							<el-table-column type="index" label="序号" width="120"></el-table-column>
							<el-table-column prop="ifSuccess" label="是否已触达" width="120" :formatter="fomatData"></el-table-column>
							<el-table-column prop="custId" label="客户编号" width="120"></el-table-column>
							<el-table-column prop="custName" label="客户名称" width="120"></el-table-column>
							<el-table-column prop="custType" label="客户类型" width="120" :formatter="fomatData"></el-table-column>
							<el-table-column prop="phoneNum" label="手机号码" width="120"></el-table-column>
							<el-table-column prop="actionObjName" label="关怀类型" width="120"></el-table-column>
							<el-table-column prop="message" label="关怀营销话术"></el-table-column>
            </el-table>
          </template>
        </el-tab-pane>
        <el-tab-pane label="风险关注短信" name="RISK">
          <template>
            <el-table border style="width: 100%" height="120" :data="riskTableData">
							<el-table-column type="index" label="序号" width="120"></el-table-column>
							<el-table-column prop="ifSuccess" label="是否已触达" width="120" :formatter="fomatData"></el-table-column>
							<el-table-column prop="custId" label="客户编号" width="120"></el-table-column>
							<el-table-column prop="custName" label="客户名称" width="120"></el-table-column>
							<el-table-column prop="custType" label="客户类型" width="120" :formatter="fomatData"></el-table-column>
							<el-table-column prop="phoneNum" label="手机号码" width="120"></el-table-column>
							<el-table-column prop="actionObjName" label="风险类型" width="120"></el-table-column>
							<el-table-column prop="message" label="关注风险话术"></el-table-column>
            </el-table>
          </template>
        </el-tab-pane>
      </el-tabs>
    </el-collapse-item>
  </el-collapse> -->
</div>