<!-- 
  @Created by taoting1 taoting1@yusys.com.cn on 2019-1-4 15:26:15.
  @updated by
  @description 我的关注客户
-->
<div>
  <yu-xform related-table-name="refTable" form-type="search">
    <yu-xform-group :column="4">
      <yu-xform-item placeholder="关注类型" name="attentType" ctype="select" data-code="ATTENT_TYP_TST"></yu-xform-item>
      <yu-xform-item placeholder="客户编号" name="custId" ctype="input"></yu-xform-item>
      <yu-xform-item placeholder="客户名称" name="custName" ctype="input"></yu-xform-item>
    </yu-xform-group>
  </yu-xform>
  <div class="yu-toolBar">
    <yu-button-group> 
      <yu-button icon="yx-menu-1" @click="custViewportFn">客户视图</yu-button> 
      <yu-button icon="yx-star-full" @click="deleteFn">取消关注</yu-button>
      <yu-button icon="yx-users" @click="joinCustGroupFn">加入客户群</yu-button>
    </yu-button-group>
  </div>
  <yu-xtable ref="refTable" class="permitSelect" @contextmenu.prevent.stop.native row-number :data-url="dataUrl" :base-params="tableParams"  selection-type="checkbox" @row-dblclick="rowDblclickFn"  :default-load="false">
    <yu-xtable-column label="关注类型" prop="attentType"  data-code="ATTENT_TYP_TST"></yu-xtable-column>
    <yu-xtable-column label="客户类型" prop="custType" data-code="CD0016"></yu-xtable-column>
    <!-- <yu-xtable-column label="客户状态" prop="custStutas"  data-code="CD0019"></yu-xtable-column> -->
    <yu-xtable-column label="客户编号" prop="custId" ></yu-xtable-column>
    <yu-xtable-column label="客户名称" prop="custName" ></yu-xtable-column>
    <yu-xtable-column label="AUM时点" prop="aumBal" width="120" :resizable="true" align="right"></yu-xtable-column>
    <yu-xtable-column label="贷款余额时点" prop="loanBal" width="120" :resizable="true" align="right"></yu-xtable-column>
    <yu-xtable-column label="存款余额时点" prop="dpsBal" width="120" :resizable="true" align="right"></yu-xtable-column>
    <yu-xtable-column label="存款年日均" prop="dpsYAvgBal" width="120" :resizable="true" align="right"></yu-xtable-column>
    <yu-xtable-column label="贷款年日均" prop="loanYAvgBal" width="120" :resizable="true" align="right"></yu-xtable-column>
    <!-- <yu-xtable-column label="证件类型" prop="certType" width="120" data-code="CD0011"></yu-xtable-column>
    <yu-xtable-column label="证件号码" prop="certNo" width="130"></yu-xtable-column> -->
    <!-- TODO 数据字典码值 -->
    <!-- <yu-xtable-column label="是否小企业客户" prop="miniComFlg" width="120"></yu-xtable-column> -->
    <!-- TODO 数据字典码值 -->
    <!-- <yu-xtable-column label="是否集团客户" prop="groupCustFlg" width="120"></yu-xtable-column>
    <yu-xtable-column label="主办机构" prop="orgId" width="120"></yu-xtable-column>
    <yu-xtable-column label="主办客户经理" prop="mgrId" width="120"></yu-xtable-column>
    <yu-xtable-column label="AUM(时点)" prop="aumBal" width="100" align="right"></yu-xtable-column>
    <yu-xtable-column label="存款余额（时点）" prop="dpsBal" width="120" align="right"></yu-xtable-column>
    <yu-xtable-column label="贷款余额（时点）" prop="loanBal" width="120" align="right"></yu-xtable-column>
    <yu-xtable-column label="贡献度（最新一期）" prop="reportMid" width="140" align="right"></yu-xtable-column>
    <yu-xtable-column label="价值等级" prop="valueLev" width="120" data-code="CD0243"></yu-xtable-column>
    <yu-xtable-column label="服务等级" prop="servLev" width="120" data-code="CD0032"></yu-xtable-column>
    <yu-xtable-column label="流失预警等级（最新一期）" prop="lossWarnLev" width="170" data-code="CD0336"></yu-xtable-column>
    <yu-xtable-column label="持有产品数（当前持有）" prop="proNum" width="160"></yu-xtable-column> -->
  </yu-xtable>
  <!-- 说明dialog可配置宽高属性，若不配置则宽度默认为屏幕50%，高度自适应
      width="650px" height="380px" -->
  <yu-xdialog title="加入客户群" :visible.sync="dialogVisible" width="650px">
    <yu-xform ref="refForm" label-width="100px" v-model="formdata" :hidden-rule="true" :disabled="formDisabled">
      <yu-xform-group>
        <yu-xform-item label="加入方式" name="addType" ctype="select" data-code="ADD_GROUP_TYPE"  rules="required"></yu-xform-item>
        <yu-xform-item label="选择客户群" :hidden="!status" name="custGroupId" ctype="yufp-cust-group" rules="required" @select-fn="selectGroupFn"></yu-xform-item>
      </yu-xform-group>
      <div class="yu-grpButton">
        <yu-button icon="yx-undo2" type="primary" @click="cancelFn">取消</yu-button>
        <yu-button v-show="saveBtnShow" icon="check" type="primary" @click="saveFn">确定</yu-button>
      </div>
    </yu-xform>
  </yu-xdialog>
  <!-- 新建客户群 -->
  <yu-xdialog title="新建客户群" :visible.sync="addCustGroupDialogVisible" width="750px">
    <yu-xform ref="addCustGrouprefForm" label-width="130px" v-model="custGroupformdata" :disabled="formDisabled">
      <yu-xform-group>
        <yu-xform-item label="客户群名称" name="custGroupName" ctype="input" rules="required"></yu-xform-item>
        <yu-xform-item label="共享范围"  name="shareScope" ctype="select" data-code="CD0337"  rules="required"></yu-xform-item>
        <yu-xform-item label="客户群分类"  name="custGroupType" ctype="select" data-code="KHQLX" rules="required" :readonly="true"></yu-xform-item>
        <yu-xform-item label="客户来源"  name="custOrigin" ctype="select" data-code="CD0340" rules="required" :disabled="true"></yu-xform-item>
        <yu-xform-item label="群成员类型"  name="groupMemberType" ctype="select" data-code="CD0339"  rules="required"></yu-xform-item>
        <yu-xform-item label="客户描述"  name="remark" ctype="textarea" :colspan="24"></yu-xform-item>
      </yu-xform-group>
      <div class="yu-grpButton">
        <yu-button icon="yx-undo2" type="primary" @click="custGroupCancelFn">取消</yu-button>
      <yu-button icon="check" type="primary" @click="custGroupSaveFn">保存</yu-button>
    </div>
    </yu-xform>
  </yu-xdialog>
</div>
<style type="text/css">
  .permitSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>