<div id="passwordDemo">
    <br/>
    <div style="color:red">
        <h2>RSA加密、解密使用示例：</h2>
    </div>
    <el-row>
        <el-col :span="8">
            <el-input v-model="password" placeholder="请输入内容"></el-input>
        </el-col>
        <el-col :span="4">
            <el-button type="success" @click="jiami()">加密（点我点我）</el-button>
        </el-col>
        <el-col :span="8">
            <el-input  v-if="show1" v-model="passwordWithRSA" :disabled="true"></el-input>
        </el-col>
    </el-row>
    <br/>
    <el-row>
        <el-col :span="8">
            <el-input v-model="passwordWithRSA"></el-input>
        </el-col>
        <el-col :span="4">
            <el-button type="info" @click="jiemi()">解密</el-button>
        </el-col>
        <el-col :span="8">
            <el-input  v-if="show2" v-model="passwordT" :disabled="true"></el-input>
        </el-col>
    </el-row>
    <br/>
    <br/>
    <div style="color:red">
        <h2>MD5加密、校验使用示例：</h2>
    </div>
    <el-row>
        <el-col :span="8">
            <el-input v-model="userPassword" placeholder="请输入内容"></el-input>
        </el-col>
        <el-col :span="4">
            <el-button type="success" @click="bianma()">加密（点我点我）</el-button>
        </el-col>
        <el-col :span="8">
            <el-input  v-if="show3" v-model="userPasswordWithBCrypt" :disabled="true"></el-input>
        </el-col>
    </el-row>
    <br/>
    <el-row>
        <el-col :span="8">
            <el-input v-model="userPasswordWithBCrypt"></el-input>
        </el-col>
        <el-col :span="4">
            <el-input v-model="userPassword"  :disabled="true"></el-input>
        </el-col>
        <el-col :span="4">
            <el-button type="info" @click="jiaoyan()">校验</el-button>
        </el-col>
        <el-col :span="4">
            <el-input v-if="show4" v-model="result" :disabled="true"></el-input>
        </el-col>
    </el-row>
</div>