/* .wait2do ul li {
    height: 70px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    padding: 10px 16px;
    position: relative;
    margin: 6px 0;
} */


/* .wait2do ul li .line {
    content: '';
    width: 4px;
    height: 70px;
    left: 0;
    top: 0;
    position: absolute;
} */

.wait2do ul li .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wait2do ul li div {
    display: flex;
    align-items: center;
}

.wait2do ul li .tag {
    display: inline-block;
    min-width: 32px;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px;
    box-sizing: border-box;
    margin-right: 6px;
}

.wait2do ul li .title {
    display: inline-block;
    font-size: 12px;
    color: #303133;
    font-weight: 500;
    width: 90%;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wait2do ul li .first .todotitle {
    max-width: 140px;
    /* overflow: hidden; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wait2do ul li .status1 {
    width: 36px;
    height: 20px;
    font-size: 12px;
    color: #FFA526;
    background: rgba(255, 165, 38, 0.1);
    line-height: 20px;
    font-weight: 400;
    padding: 4px;
    border-radius: 4px;
}

.wait2do ul li .status2 {
    width: 36px;
    height: 20px;
    font-size: 12px;
    color: #2D8C4E;
    background: #E7F8ED;
    line-height: 20px;
    font-weight: 400;
    padding: 4px;
    border-radius: 4px;
}

.wait2do ul li i {
    color: #909399;
    margin-left: 4px;
}

.wait2do ul li .second {
    font-size: 12px;
    color: #909399;
    line-height: 20px;
    font-weight: 400;
    margin: 4px 0;
    display: flex;
    align-items: center;
}

.wait2do ul li .second span {
    margin: 0 4px;
}

.wait2do ul li .last {
    font-size: 12px;
    color: #CC8966;
    line-height: 20px;
    font-weight: 400;
}

.color-blue {
    color: #3279FF;
    border: 1px solid #3279FF;
}

.color-red {
    color: #FF4D4D;
    border: 1px solid #FF4D4D;
}

.color-purle {
    color: #5D4DBF;
    border: 1px solid #5D4DBF;
}

.color-yellow {
    color: #FFA526;
    border: 1px solid #FFA526;
}

.blue-bg {
    background-image: linear-gradient(0deg, #99BCFF 0%, #3279FF 100%);
}

.red-bg {
    background-image: linear-gradient(0deg, #FF8E8E 0%, #FF4D4D 100%);
}

.yellow-bg {
    background-image: linear-gradient(0deg, #FFD599 0%, #FFA526 100%);
}

.purle-bg {
    background-image: linear-gradient(0deg, #A596FF 0%, #7C67FF 100%);
}

.wait2do .no-data {
    text-align: center;
    line-height: 300px;
}

@media screen and (min-width: 1440px) {
    .wait2do ul li .first .todotitle {
        max-width: 200px;
    }
}


/* .showTerm {
    width: 200px;
    height: 200px;
    background: paleturquoise
} */

.list_block {
    position: relative;
    z-index: 5;
    width: 200px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    text-align: center;
}

.child {
    position: absolute;
    top: 0px;
    right: 20%;
    width: 500px;
    height: 50px;
    /* border: 1px solid red;
    background: blue; */
    display: none;
}

.list_block:hover .child {
    display: block;
}

.listuser_block {
    position: relative;
    width: 200px;
    height: 50px;
    /* border: 1px solid saddlebrown; */
    margin: auto;
    line-height: 50px;
    text-align: center;
}

.userchild {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    min-height: 100px;
    border: 1px solid #ccc;
    background: white;
    display: none;
    box-sizing: border-box;
}


/* .listuser_block:hover {
    background: pink;
    color: red;
    border-bottom: 1px solid white;
} */

.listuser_block:hover .userchild {
    display: block;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}