/**
 * @created by 冉珣 on 2021-10-11 11:38:38
 * @updated by
 * @description 理财管户
 */
.account-manage {
  padding: 30px 20px;
}
.historyDialog .content .content-head {
  display: flex;
  align-items: center;
}
.historyDialog .content .content-head p {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}
.account-manage .historyDialog .el-dialog {
  width: 920px;
}