<!--
  @created by houyx3 on 2022/03/03.
  @description 营销组件FORM表单-渠道组件-短信
-->
<div>
	<el-form ref="myform" :model="model" label-position="left" label-suffix=":" :rules="rules">
		<el-form-item label="时间类型" prop="timeType">
			<el-col :span="10">
				<el-select v-model="timeType" placeholder="请选择类型">
					<el-option v-for="item in timeOptions" :key="item.key" :label="item.value" :value="item.key">
					</el-option>
				</el-select>
			</el-col>
		</el-form-item>
		<el-form-item v-if="timeView" label="发送时间">
			<el-col :span="10">
				<el-form-item prop="beginTime">
					<el-time-picker v-model="model.beginTime" :picker-options="{selectableRange: '08:00:00 - 18:00:00'}"
						placeholder="开始时间" format='HH:mm:ss' @change="changeTimeFn">
					</el-time-picker>
				</el-form-item>
			</el-col>
			<el-col align="center" :span="2">—</el-col>
			<el-col :span="10">
				<el-form-item prop="endTime">
					<el-time-picker v-model="model.endTime" :picker-options="picker" placeholder="结束时间"
						format='HH:mm:ss'>
					</el-time-picker>
				</el-form-item>
			</el-col>
		</el-form-item>
		<el-form-item v-if="delayView" label="延迟时长" prop="delay">
			<el-col :span="10">
				<el-input v-model="model.delay" placeholder="请输入延迟时长，单位（分钟）">

				</el-input>
			</el-col>
		</el-form-item>
		<el-form-item label="发送方式" prop="sendType">
			<el-col :span="10">
				<el-select v-model="model.sendType" placeholder="请选择发送方式">
					<el-option v-for="item in sendOptions" :key="item.key" :label="item.value" :value="item.key">
					</el-option>
				</el-select>
			</el-col>
		</el-form-item>
		<el-form-item align="center">
			<el-button type="primary" @click="reset" :disabled="buttonHiden">重置</el-button>
			<el-button type="primary" @click="save" :disabled="buttonHiden">保存</el-button>
		</el-form-item>
	</el-form>
</div>