<!--
  @created by 鸿杰 on 2021-10-19 11:38:38
  @updated by
  @description 
-->
<div class="account-manage">
    <link rel="stylesheet" type="text/css" href="./pages/accountManage/accountMan/accountMan.css">
    <yu-row>
        <yu-col :span="20">
            <yu-xform ref="refSearchForm" label-width="120px" v-model="searchForm">
                <yu-xform-group>
                    <yu-xform-item label="" ctype="custom" colspan="10">
                        <yu-input placeholder="请输入客户名称/客户ECIF号" v-model="searchForm.searchKeywords">
                            <yu-button slot="append" icon="search" @click="searchListCust"></yu-button>
                        </yu-input>
                    </yu-xform-item>
                    <yu-xform-item colspan="8" v-if="hashCodeMap[hashCode].indexOf('调整') != -1" label="客户经理" ctype="yufp-mgrall-selector" name="mgrName" @select-fn="mgrSelectFn"></yu-xform-item>
                </yu-xform-group>
            </yu-xform>
        </yu-col>
        <yu-col :span="4" style="text-align: right">
            <yu-button icon="el-icon-yx-equalizer" type="primary" v-if="hashCodeMap[hashCode].indexOf('分配') != -1" @click="optionFn('distribute')">批量分配</yu-button>
            <yu-button icon="el-icon-yx-equalizer" type="primary" v-if="hashCodeMap[hashCode].indexOf('调整') != -1" @click="optionFn('justify')">批量调整</yu-button>
            <yu-button icon="el-icon-yx-equalizer" type="primary" v-if="hashCodeMap[hashCode].indexOf('托管') != -1" @click="optionFn('hosting')">批量托管</yu-button>
        </yu-col>
    </yu-row>
    <yu-xtable selection-type="checkbox" ref="listTable" :border="false" reserve-selection row-key="custId" :data-url="urlMap[hashCode]" :default-load="false" style="margin-top: 24px">
        <yu-xtable-column prop="custId" label="ECIF号"></yu-xtable-column>
        <yu-xtable-column prop="custName" label="客户姓名">
            <template slot-scope="scope">
          <el-link type="primary" @click="toCust360View(scope.row)">{{scope.row.custName}}</el-link>
        </template>
        </yu-xtable-column>
        <yu-xtable-column prop="assignStatus" label="分配状态" data-code="ASSIGN" v-if="hashCodeMap[hashCode].indexOf('分配') != -1 || hashCodeMap[hashCode].indexOf('管户调整') != -1"></yu-xtable-column>
        <yu-xtable-column prop="trustStat" label="托管状态" data-code="ASSIGN" v-if="hashCodeMap[hashCode].indexOf('托管') != -1"></yu-xtable-column>
        <yu-xtable-column prop="mgrName" label="归属客户经理" v-if="hashCodeMap[hashCode].indexOf('调整') != -1"></yu-xtable-column>
        <yu-xtable-column prop="orgName" label="归属机构"></yu-xtable-column>
        <yu-xtable-column label="操作">
            <template slot-scope="scope">
          <yu-button type="text" size="small" v-if="hashCodeMap[hashCode].indexOf('分配') != -1 && !scope.row.assignStatus" @click="optionFn('distribute', scope.row)"> 分配 </yu-button>
          <yu-button type="text" size="small" v-if="hashCodeMap[hashCode].indexOf('调整') != -1 && scope.row.assignStatus !== '02'" @click="optionFn('justify', scope.row)"> 调整 </yu-button>
          <yu-button type="text" size="small" v-if="hashCodeMap[hashCode].indexOf('托管') != -1 && scope.row.trustStat !== '02'" @click="optionFn('hosting', scope.row)"> 托管 </yu-button>
          <yu-button type="text" size="small" @click="custHistory"> 管户历史 </yu-button>
        </template>
        </yu-xtable-column>
    </yu-xtable>
    <!-- 变更操作：分配，调整，托管 -->
    <yu-dialog :modal-append-to-body="false" :append-to-body="false" :title="titleViews[titleType]" :visible.sync="optionDialogVisible" size="tiny" :before-close="handleOptionClose">
        <yu-xform ref="refDialogForm" label-width="120px" v-model="optionForm" :inline="false" label-position="top">
            <yu-xform-group>
                <yu-xform-item label="客户经理" ctype="yufp-mgr-selector" name="trustMgrName" colspan="24" @select-fn="mgrSelectFnChange" rules="required"></yu-xform-item>
                <yu-xform-item label="变更原因" ctype="textarea" name="changeReason" placeholder="不超过100字" maxlength="100" row="3" colspan="24" rules="required"></yu-xform-item>
                <yu-xform-item label="托管有效期" v-if="hashCodeMap[hashCode].indexOf('管户托管') != -1" name="deadLine" ctype="datepicker" rules="required" format="yyyy-MM-dd"></yu-xform-item>
                <!-- <yu-xform-item label="" ctype="custom" colspan="24">
              <yu-checkbox v-model="optionForm.notify">发送短信通知</yu-checkbox>
          </yu-xform-item> -->
            </yu-xform-group>
        </yu-xform>
        <span slot="footer" class="dialog-footer">
        <yu-button @click="optionDialogVisible = false">取 消</yu-button>
        <yu-button type="primary" @click="saveFn(titleType)">保 存</yu-button>
        <yu-button type="primary" @click="confirmFn(titleType)">确 定</yu-button>
      </span>
    </yu-dialog>
    <!-- 管户历史 -->
    <yu-dialog :modal-append-to-body="false" :append-to-body="false" title="管户历史" :visible.sync="historyDialogVisible" size="tiny" class="historyDialog" :before-close="handleHistoryClose">
        <div class="content">
            <div class="content-head">
                <el-avatar :size="48" src="../../../themes/common/images/man-head.jfif"></el-avatar>
                <p>{{custName}}</p>
                <yu-tag type="gray">ECIF号：{{custId}}</yu-tag>
            </div>
            <yu-xtable selection-type="checkbox" ref="historyListTable" :border="false" :data-url="historyUrlMap[hashCode]" :default-load="false" style="margin-top: 24px">
                <yu-xtable-column prop="assignType" label="变更类别" v-if="hashCodeMap[hashCode].indexOf('管户托管') == -1">
                    <template slot-scope="scope">
              <el-tag :type="tagTypes[scope.row.assignType]" effect="plain">{{scope.row.assignType === '01' ? '分配' : '调整'}}</el-tag>
            </template>
                </yu-xtable-column>
                <yu-xtable-column prop="assignUserName" label="提交人">
                    <template slot-scope="scope">
              {{scope.row.assignUserName}}/{{scope.row.assignUserId}}
            </template>
                </yu-xtable-column>
                <yu-xtable-column prop="changeReason" label="变更原因"></yu-xtable-column>
                <yu-xtable-column prop="deadLine" label="托管有效期" :formatter="dateFormatter" v-if="hashCodeMap[hashCode].indexOf('管户托管') != -1"></yu-xtable-column>
                <yu-xtable-column prop="mgrNamePre" label="原客户经理">
                    <template slot-scope="scope">
              {{scope.row.mgrNamePre}}/{{scope.row.mgrIdPre}}
            </template>
                </yu-xtable-column>
                <yu-xtable-column prop="mgrName" label="调整至">
                    <template slot-scope="scope">
              {{scope.row.mgrName}}/{{scope.row.mgrId}}
            </template>
                </yu-xtable-column>
                <yu-xtable-column prop="orgName" label="归属机构"></yu-xtable-column>
            </yu-xtable>
        </div>
    </yu-dialog>
</div>